<!-- Config file for the game -->

<config>
  <app>
    <title>Thalassa</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="3"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <posTuto x="57" y="201"/>
	<posLvl1 x="74" y="210"/>
	<posMidLvl x="25" y="130"/>
	<posLvl2 x="2313" y="170"/>
    <godSpeed value="2.0f"/>
    <speed x="1.3f" y="0.7f"/>
    <gravity value="0.15f"/>
    <flip value="true"/>
    <created value="true"/>
  </player>

</config>