<!-- Config file for the game -->

<config>
  <app>
    <title>Thalassa</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="3"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <posTuto x="57" y="201"/>
	<posLvl1 x="74" y="210"/>
	<posMidLvl x="25" y="130"/>
	<posLvl2 x="2313" y="170"/>
    <godSpeed value="2.0f"/>
    <speed x="1.3f" y="0.7f"/>
    <gravity value="0.15f"/>
    <flip value="true"/>
    <created value="true"/>
	<jumpForce value="3.0f"/>
	<jetForce value="1.5f"/>
	<hitbox x="13" y="20"/>
  </player>
  
  <entities>
	<chestCollider x="15" y="35"/>
	<obstacleVariation value="40"/>
	<obstacleSpeed x="1.0f" y="1.7f"/>
	<obstacleCollider value="25"/>
	<obstacleAdjust value="7"/>
  </entities>
  
  <scene>
	<cameraPositionMoving x="-5400"/>
	<cameraLimit1 x="-6290" y="-360"/>
	<cameraLimit2 x="-5135" y="-790"/>
	<cameraLimit3 x="-10400" y="-790"/>
	<cameraLimit4 x="-2200" y="-400"/>
	<doorPosition1 x="996" y="61"/>
	<doorPosition2 x="494" y="85"/>
	<obstacle1 x="1803" y="144"/>
	<obstacle2 x="700" y="120"/>
	<obstacle3 x="795" y="120"/>
	<obstacle4 x="513" y="120"/>
	<obstacle5 x="755" y="180"/>
	<obstacle6 x="3500" y="400"/>
	<obstacle7 x="3650" y="65"/>
  </scene>
  
  <keys>
	<A x="48" y="49" w="16" h="15"/>
	<APressed x="48" y="147" w="16" h="13"/>
	<W x="64" y="33" w="16" h="15"/>
	<WPressed x="64" y="131" w="16" h="13"/>
	<D x="80" y="49" w="16" h="15"/>
	<DPressed x="80" y="147" w="16" h="13"/>
	<SPACE x="96" y="81" w="64" h="15"/>
	<SPACEPressed x="96" y="179" w="64" h="13"/>
	<differenceY value="2"/>
	<posA x="160" y="192"/>
	<posD x="200" y = "192"/>
	<posW1 x="520" y="157"/>
	<posW2 x="800" y="157"/>
	<posW3 x="830" y="130"/>
	<posW4 x="1285" y="60"/>
	<posSPACE x="1310" y="60"/>
  </keys>

</config>