<!-- Config file for the game -->

<config>
  <app framerate_cap = "30">
    <title>Thalassa</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="3"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
  
  <mapInfo>
	<speednormal value="1.0f"/>
	<parallax1 value="0.8f"/>
	<parallax2 value="0.5f"/>
	<parallax3 value="0.7f"/>
	<parallax4 value="0.3f"/>
	<parallaxBg value="0.057f"/>
	<cullingVariation x="30" y="2050"/>
	<cullingDebug x="-50" y="2137"/>
	<convertor value="0.02f"/>
	<convertor2 value="0.02f"/>
	<convertor3 value="0.02f"/>
  </mapInfo>

  <player>
    <posTuto x="57" y="200"/>
	<posLvl1 x="74" y="205"/>
	<posMidLvl x="25" y="125"/>
	<posLvl2 x="3305" y="180"/>
    <godSpeed value="300.0f"/>
    <speed x="80.0f" y="70.0f"/>
    <gravity value="350.0f"/>
    <flip value="true"/>
    <created value="true"/>
	<jumpForce value="135.0f"/>
	<jetForce value="70.0f"/>
	<hitbox x="13" y="20"/>
	<life value="90"/>
	<deathFall value="17.0f"/>
	<timer value="2500"/>
	<jetLife value="196"/>
	<jetCharge value="0.06"/>
	<jetSpend value="2"/>
  </player>
  
  <entities>
	<chestCollider x="15" y="35"/>
	<obstacleVariation value="40"/>
	<obstacleSpeed x="75.0f" y="75.0f"/>
	<obstacleCollider value="25"/>
	<obstacleAdjust value="7"/>
  </entities>
  
  <enemiesPosition>
	<bat1 x="2100" y="150"/>
	<bat2 x="675" y="195"/>
	<bat3 x="950" y="195"/>
	<bat4 x="1000" y="100"/>
	<bat5 x="4700" y="70"/>
	<bat6 x="3782" y="150"/>
	<bat7 x="400" y="195"/>
	<bat8 x="550" y="70"/>
	<bat9 x="800" y="100"/>
	
	<demon1 x="2840" y="180"/>
	<demon2 x="3722" y="217"/>
	<demon3 x="4567" y="400"/>
  </enemiesPosition>
  
  <itemPosition>
	<i11 x="927" y="23"/>
	<i12 x="1632" y="199"/>
	<i13 x="1817" y="205"/>
	<i14 x="1849" y="63"/>
	<i15 x="1719" y="100"/>
	
	<i21 x="758" y="93"/>
	<i22 x="581" y="381"/>
	<i23 x="723" y="349"/>
	<i24 x="1264" y="188"/>
	<i25 x="927" y="100"/>
	<i26 x="874" y="299"/>
	
	<i27 x="4081" y="258"/>
	<i28 x="4279" y="282"/>
	<i29 x="4458" y="464"/>
	<i210 x="4644" y="355"/>
	<i211 x="4539" y="233"/>
	<i212 x="4531" y="111"/>
	<i213 x="4603" y="270"/>
	<i214 x="4627" y="140"/>
	
	<i31 x="438" y="125"/>
  </itemPosition>
  
  <scene>
	<cameraPositionMoving x="-8415"/>
	<cameraLimit1 x="-6290" y="-360"/>
	<cameraLimit2 x="-8150" y="-790"/>
	<cameraLimit3 x="-13350" y="-790"/>
	<cameraLimit4 x="-2200" y="-400"/>
	<cameraSpeed x="140" y="95"/>
	<doorPosition1 x="1490" y="61"/>
	<doorPosition2 x="494" y="85"/>
	<obstacle1 x="1803" y="144"/>
	<obstacle2 x="700" y="120"/>
	<obstacle3 x="795" y="120"/>
	<obstacle4 x="513" y="120"/>
	<obstacle5 x="755" y="180"/>
	<obstacle6 x="4500" y="400"/>
	<obstacle7 x="3650" y="65"/>
	<jetPackBar x="0" y="0" w="200" h="15"/>
	<jetPackLife x="16" y="11"/>
	<BlitJet x="2" y="8"/>
	<deathTimer value="500"/>
  </scene>
  
  <keys>
	<A x="48" y="49" w="16" h="15"/>
	<APressed x="48" y="147" w="16" h="13"/>
	<W x="64" y="33" w="16" h="15"/>
	<WPressed x="64" y="131" w="16" h="13"/>
	<D x="80" y="49" w="16" h="15"/>
	<DPressed x="80" y="147" w="16" h="13"/>
	<SPACE x="96" y="81" w="64" h="15"/>
	<SPACEPressed x="96" y="179" w="64" h="13"/>
	<mouseIdle x="19" y="0" w="17" h="23"/>
	<mouseLeft x="0" y="0" w="17" h="23"/>
	<mouseRight x="0" y="25" w="17" h="23"/>
	
	<differenceY value="2"/>
	<posA x="160" y="192"/>
	<posD x="200" y = "192"/>
	<posW1 x="520" y="157"/>
	<posW2 x="800" y="157"/>
	<posW3 x="830" y="130"/>
	<posW4 x="1285" y="60"/>
	<posSPACE x="1310" y="60"/>
	<posMIdle x="1975" y="225"/>
	<posMLeft x="1975" y="225"/>
  </keys>
  
  <particles>
	<margin1 x="8" y="8"/>
	<p_speed1 x="5000" y="5000"/>
	<p_speed2 x="4000" y="4000"/>
	<life x="3000" y="200"/>
	<hitboxShoots x="5" y="5"/>
  </particles>
  
  <bat>
	<pos_to_player x="30" y="30"/>
	<limit x="60" y="10"/>
	<redirectInertia value="25.0f"/>
	<inertia value="100.0f"/>
	<distances x="200" y="100"/>
	<speed1 value="100.0f"/>
	<speed2 value="50.0f"/>
	<speed3 value="30.0f"/>
	<minDistance value="5"/>
	<farDistance x="150" y="100"/>
	<farSpeed1 value="300.0f"/>
	<farSpeed2 value="160.0f"/>
	<farSpeed3 value="75.0f"/>
	<closeSpeed value="25.0f"/>
	<minDistanceFinal value="50"/>
  </bat>
  
  <batEnemy>
	<hitbox x="10" y="11"/>
	<speed x="35.0f" y="35.0f"/>
	<gravity value="150.0f"/>
	<adjust value="2"/>
	<adjustPath x="7" y="6"/>
	<adjustCollider value="20"/>
  </batEnemy>
  
  <demon>
	<hitbox x="10" y="13"/>
	<back_pos x="5" y="5"/>
	<adjustPath x="7" y="6"/>
	<jumpForce value="70.0f"/>
	<speed x="30.0f" y="30.0f"/>
	<damage value="100"/>
	<cooldown value="3000"/>
	<gravity value="150.0f"/>
	<speedDeath value="5.0f"/>
  </demon>
  
  <platform>
	<speed x="30.0f" y="30.0f"/>
	<hitbox1 value="64"/>
	<hitbox2 value="40"/>
	<hitbox3 value="56"/>
	<hitbox value="8"/>
  </platform>

</config>